body{
    background-color: black;
}
/* 
.imagen{
    width: 350px;
    height: 350px;
   margin-left: 530px;
} */

.card-title{
    color: white;
} 

p{
    color: white;
}
 h3{
    color: white;
 }
 
.imagen1{
    width: 300px;
    height: 100px;
    margin-left: 60px;
  
}
.imagen3{
    width: 400px;
    height: 600px;
  
}
.contenedor {
   
    width: 300px;
    height: 200px;
    margin:auto;
    margin-top: 0%;
}
.container{
    display: flex;
}